
<div class="container">
    <div class="row hb hb-main-wrapper">
        <div class="col-8">
            <div class="hb__lable-wrapper row">

                <!-- loader starts here -->
                <ng-container *ngIf="showloader">
                    <div class="hb__content-loader" *ngFor="let l of [1,2,3]">
                        <app-loader [contentStyle]="{height: '250px'}"></app-loader>
                        <app-loader [contentStyle]="{'margin-top': '-26px'}"></app-loader>
                    </div>
                </ng-container>
                <!-- loader ends here -->

                <ng-container *ngIf="!showloader">
                    <div class="d-flex col-6 hb__sections" *ngFor="let d of data; let i = index;" (click)="getBlogsById(d)">
                        <span>
                            <img  src="{{d.imgPath[0]}}" alt="Loading..." class="hb__content-image position-relative" />
                        </span>
                        <span>
                            <label>
                               {{d.title}}
                            </label>
                        </span>
    
                    </div>
                </ng-container>
                
            </div>
        </div>

       

        <ng-container >
            <div class="col-4">

                <ng-container *ngIf="showloader">
                    <app-loader [contentStyle]="{height:'250px'}"></app-loader>
                    <app-loader [contentStyle]="{height:'250px'}"></app-loader>
                </ng-container>

                <ng-container *ngIf="!showloader">
                    <div class="hb__second-section hb-aside-trending">
                        <ul class="list-group">
                            <li class="list-group-item text-center hb_aside-trending"><strong>Recommaned</strong></li>
                            <li *ngFor="let r of blogList; let i = index" class="list-group-item" (click)="getBlogsById(r)">
                                {{r.title}}
                            </li>
                          </ul>
                    </div>
        
                    <div class="hb__second-section hb-aside-trending mt-3 mb-3">
                        <ul class="list-group">
                            <li class="list-group-item text-center hb_aside-trending"><strong>Trending</strong></li>
                            <li *ngFor="let r of trendingTopic; let i = index" class="list-group-item" (click)="getBlogsById(r)">
                                {{r.title}}
                            </li>
                          </ul>
                    </div>
                </ng-container>
               
    
    
            </div>
        </ng-container>
    </div>
</div>

<div class="hamro__footer">
<app-footer></app-footer>
</div>

