.footer-wrapper {
   background-color: hsl(218, 45%, 58%);
   color: #fff;
   padding: 20px 0; 
   
}

hr {
   border: 1px solid #ffffff;
   opacity: 1;
}

/* about us */

.about-us span{
   font-size: 19px;
}
.about-us p{
   font-size: 15px;
}

 /* Underline Animation */
.about-us h5 {
   color: #fff;
   position: relative;
   cursor: pointer;
   display: inline-block;
  
}

.about-us h5::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px; /* Adjust the thickness of the underline */
   background-color: #fff; /* Color of the underline */
   bottom: 0;
   left: 0;
   transform-origin: bottom right;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
}

.about-us h5:hover::after {
   transform-origin: bottom left;
   transform: scaleX(1);
}





/* Contact Information */
.contact h5 {
   color: #ffffff;
   margin-bottom: 10px;
}
.contact h5 {
   color: #fff;
   position: relative;
   cursor: pointer;
   display: inline-block;
}

.contact h5::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px; /* Adjust the thickness of the underline */
   background-color: #fff; /* Color of the underline */
   bottom: 0;
   left: 0;
   transform-origin: bottom right;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
}

.contact h5:hover::after {
   transform-origin: bottom left;
   transform: scaleX(1);
}


.contact p {
   color: #ffffff;
   margin-bottom: 4px;
   
}

.contact i {
   color: #fff;
   margin-right: 5px;
}

.contact i {
   font-size: 1.2em;
   margin-bottom: 5px;
}

.contact a {
   color: #fff;
   
   
}

.contact a:hover {
   color: #dc1212;
}


/*Social Media icons */

.social-icons {
   display: flex;
   flex-direction: column;
}

.social-icons a {
   color: #fff;
   text-decoration: none;
   margin-bottom: 10px; 
   font-size: 1.2em; 
}

.social-icons a:hover {
   color: #bbb;
}
.social-media h5{
   margin-bottom: 20px;
}
.social-media h5 {
   color: #fff;
   position: relative;
   cursor: pointer;
   display: inline-block;
}

.social-media h5::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px; /* Adjust the thickness of the underline */
   background-color: #fff; /* Color of the underline */
   bottom: 0;
   left: 0;
   transform-origin: bottom right;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
}

.social-media h5:hover::after {
   transform-origin: bottom left;
   transform: scaleX(1);
}





