$hover-color:#116D6E;
hr{
    opacity: .09;
}

.main-container {
    img {
        object-fit: contain !important;
        height: fit-content !important;
    }
    .hb__comments {
        width: 90%;
        height: 120px;
    }
    .hb__star {
        display: flex;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        max-width: 90%;
        margin: -25px 0px 30px 0px;
        padding: 13px;
        gap: 11px;
        overflow: hidden;
        cursor: pointer;
    }

    .fa.fa-star{
        color:#3fa729;
    }

    .hb__hr{
        margin:4rem 0px;
    }

    .hb__comment-container{
    margin: 14px;
    padding: 20px;
    background: #ffffff;
    border: none;
    border-radius: 7px;
    overflow: hidden;
    width: 96%;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
    }

    .hb__cc{
    background: #f7f7f7;
    margin-top: 66px;
    width: 90%;
    padding: 20px;
    }

    .hb__comment-created{
    display: grid;
    gap: 5px;
    color: #337CCF;
    font-size: 14px;
    }

    .l1{
        margin:7px 0px 0px 18px;
    }

    .hb-textarea textarea {
        background-color: #f7f7f7;
        overflow: hidden;
        color:gray
    }

    .hb__w-90{
        width: 90%;
    }

    .hb__cb {
        display: grid;
        place-content: center;
    }

    .disable__rating{
        pointer-events: none;
        opacity: .6;
    }
}  

//for mobile screen
@media (max-width:770px) {
    .hb__img-section{
        text-align: center;
        margin-left: 10px;
        max-width: 349px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .hb__des-content{
        margin: 15px;
    }

    .screen-size-wrapper{
        margin-left: 50px;
    }
}

.blogOn{
    color: $hover-color;
    
}

.user__section{
    justify-content: center;
    margin: 20px;
}

//for wider screen
@media (min-width:770px) {
    .hamro-blog-main-img{
        width: 900px;
    }
}

::ng-deep table {
    width: 100% !important;
     tr:nth-child(1) > td {
        font-family: 'Montserrat-Bold';
     }
}

.hb-insight{
    line-height: 0px;
    span {
        color: gray;
        cursor: pointer;
        span{
            font-size: 14px;
            margin-left: 8px;
            color: #116D6E;
        }
    }
    .hb__inisight-comment{
        margin-left:20px;
        margin-right: 20px;
    }
}

