<!-- <div class="d-flex justify-content-between logo-wrapper">

  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/hamrovlog.png">
    </a>
  </div>

  <div>
    <strong>Welcome, Kabin Dhital</strong>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
  </div>
</div> -->

<header>
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/hamrovlog.png">
    </a>
  </div>
  <nav [ngClass]="{'active': isMenuOpen}">
    <ul>
      <li>
        <a href="javascrip:void(0)" (click)="navigateToContent('business')">Business</a>
      </li>
     
  
      <li>
        <a href="javascrip:void(0);" (click)="navigateToContent('health')">Health</a>
      </li>
  
      <li>
        <a href="javascript:void(0);" (click)="navigateToContent('sport')">Sports</a>
        <!-- <ul class="submenu">
          <li><a href="case-v1.html">Football</a></li>
          <li><a href="case-v1.html">Cricket</a></li>
        </ul> -->
      </li>
      <li>
        <a href="javascript:void(0);" (click)="navigateToContent('news')">News</a>
        <!-- <ul class="submenu">
          <li><a href="blog.html">News V1</a></li>
        </ul> -->
      </li>
      <li>
        <a href="javascript:void(0);" (click)="navigateToContent('education')">Education</a>
        <!-- <ul class="submenu">
          <li><a href="blog.html">News V1</a></li>
        </ul> -->
      </li>
      <li>
        <a href="javascript:void(0);" (click)="navigateToContent('other')">Others</a>
        <!-- <ul class="submenu">
          <li><a href="blog.html">News V1</a></li>
        </ul> -->
      </li>
     
      <li *ngIf="userName"><a href="javascript:void(0);" routerLink="/blogs">Write</a></li>
      <li><a href="javascript:void(0);" routerLink="/login">{{userName ? 'Logout': 'Login'}}</a></li>
      <li *ngIf="email === 'sagar.kabin26@gmail.com'"><a href="javascript:void(0);" routerLink="/blogs/users">Users</a></li>
      <li [class.hb__username-section]="userName">
        <!-- <a href="javascript:void(0);" routerLink="/login">Hi, Kabin</a> &nbsp; -->
        <small *ngIf="!userName" class="fa fa-user-circle" aria-hidden="true"></small>
        <small class="hb__userName" *ngIf="userName">{{userName}}</small>
      </li>
    </ul>
  </nav>
  <div class="menu-icon" (click)="toggleMenu()">&#9776;</div>
</header>