$hover-color:#116D6E;


.main-container {
    h2{
        font-family: 'Montserrat-Semibold';
    }
    img {
        object-fit: cover;
    }
    .hamro-blog-heading, img, section {
        cursor: pointer;
    }

    .hamro-blog-heading:hover{
        color: $hover-color
    }

    .hb__heading-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .vr{
        border-left: 1px solid #aeaeae;
        height: 100%;
    }

    .right-0{
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        overflow: auto;
        label{
            font-family: 'Montserrat-Bold';
            font-weight: 500;
        }

        .topic-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 97%;
            margin: auto;
            margin-top:7px;
            grid-gap: 3px;
            label{
                font-family: 'Montserrat-Semibold';
                font-weight: 600;
                font-size: 14px;
                color: gray;
                text-align: center;
            }
            label:hover{
                color: $hover-color;
                text-decoration: underline;
                cursor: pointer;
            }
            & img{
                width: 30%;
                border-radius: inherit;
            }
            & .lb{
                display: flex;
                gap:4px;

            }
        }
    }

    .hb-lt__wrapper{
        gap: 6px;
        & label{
            color: rgb(58, 57, 57) !important;
        }
    }

    .hb__list-block{
        display: grid;
        place-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap:14px;
        padding: 12px 10px 0px 10px;
        & .li{
            font-family: 'Montserrat-Regular';
            padding: 8px 15px;
            background: rgb(242, 242, 242);
            border-radius: 20px;
            text-align: center;
            line-height: 19px;
            margin: 0px;
            cursor: pointer;
        }
    }
}

// for bigger screen
@media (min-width:770px) { 
    .hb-div__wrapper {
        display: flex;
    }
    .right-0 {
        position: sticky;
    }
}

//for mobile screen
@media (max-width:770px) {
    .hb-div__wrapper {
        display: grid;
    }

    .hb__p-section{
        text-align: center;
        margin-left: 22px;

    }
    .hb__img-section{
        text-align: center;
        object-fit: contain !important;
        height: fit-content;
        margin-left: 22px;
    }
}
