
<form >
    <div class="container d-flex main-wrapper">
        <ng-container>
            <div *ngIf="showLoader">
                <app-loader [contentStyle]="{height: '50px', margin:'0px !important'}"></app-loader>
                <app-loader [contentStyle]="{height: '250px', margin:'0px !important'}"></app-loader>
                <app-loader [contentStyle]="{height: '50px', margin:'0px !important'}"></app-loader>
                <app-loader [contentStyle]="{height: '250px', margin:'0px !important'}"></app-loader>

            </div>
        </ng-container>
        <ng-container *ngIf="!showLoader">
                <app-button [btnLable]="'Back'" [addClass]="'pull-right'" (eventEmit)="back()" >
                </app-button>
                <div>
                    <label for="heading">Title</label>
                    <input type="text" placeholder="Add Title..." [ngClass]="{'border border-danger': titleValidation}" name="title" [(ngModel)]="blogModel.title" class="form-control" name="Title" />
                </div>
                <div>
                    <label for="heading">Category</label>
                    <select class="form-control" name="category" [(ngModel)]="blogModel.category">
                        <option value="business">Business</option>
                        <option value="technology">Technology</option>
                        <option value="health">Health</option>
                        <option value="sport">Sport</option>
                        <option value="education">Education</option>
                        <option value="news">News</option>
                        <option value="other">Others</option>
                    </select>
                </div>
                <div>
                    <app-button (eventEmit)="addSection()" [btnLable]="'Add Section'"></app-button>
                </div>
                <ng-container *ngFor="let data of blogData; let i = index; let last = last; let f = first">
                    <div *ngIf="!data.file" class="hb_image-type {{data.class}}" (click)="file.click()">
                        <div class="d-flex flex-direction">
                            <input (change)="selectFiles($event, i)" type="file" hidden accept=".img,.png,.jpeg,.jpg,.webp" id="fileID" style="display:none;" #file>
                            <app-button #upload [btnLable]="'Choose File'" [style]="{width: '277px'}"></app-button>
                            <small class="text-muted">Please upload image having height: 420px width: 740px</small>
                        </div>
                    </div>

                    <div *ngIf="data.file">
                        <div *ngIf="!f" class="d-flex justify-content-end mt-3">
                        <hr />
                            <app-button [addClass]="''"  [btnLable]="'Delete Section'" (eventEmit)="removeSection(i)" [style]="{width: '150px'}"></app-button>
                        </div>
                        <div>
                            <div (click)="removeImg(i)" class="d-flex justify-content-end display-x"><span>X</span></div>
                        </div>
                        
                        <img  width="1300" height="400" class="w-100" [src]="data.cloudImage ? data.cloudImage : data.file" /> 
                    </div>
                    <div class="ckeditior-items">
                        <label for="description">Description</label>
                        <ckeditor min-length="500" name="description-{{i}}" [(ngModel)]="data.description" [editor]="Editor"></ckeditor>
                    </div>
                </ng-container>
                <app-button [showLoader]="showBtnLoader" [addClass]="'mb-3'" (eventEmit)="addBlog($event)" [style]="{'width': '100%'}" [btnLable]="blogModel._id ? 'Update Blog' : 'Add Blog'">
                </app-button>
        </ng-container>
    </div>
</form>


